body{
    display:flex;
    justify-content: center;
    background-color:#ffff;
}
main{
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 5px;
    margin:60px;
}
.col{
    direction: vertical;
    align-content: center;
    text-align: center;
    gap:84px;
    padding-top: 5px;
    margin: 20px;
}
img{
    height:416px;
}

.log{
    margin:20px;
    display:;
    align-content: center;
    justify-content: center;
    gap:48px;
    background-color:#ffdf58;
    padding-top: 66px;
    padding-bottom:66px;
    padding-right: 56px;
    padding-left:56px;
    width:48%;
    border-radius: 0.5px;
}